

<footer class="footer">
    <div class="container">
        <div class="social-icons">
            <a href="https://www.instagram.com/abocadoshamburgueseria/"><img src="assets/img/instagram.png" alt="Instagram"></a>
            <a href="https://www.facebook.com/abocadoshamburgueseria/"><img src="assets/img/facebook.png" alt="Facebook"></a>
            <a href="https://api.whatsapp.com/send?phone=573134479567&text=Hola%2C%20quiero%20m%C3%A1s%20informaci%C3%B3n%20sobre%20PlayApez"><img src="assets/img/whatsapp.png" alt="WhatsApp"></a>
            <a href="mailto:abocadosrestaurante2024@gmail.com"><img src="assets/img/gmail.png" alt="Correo"></a>
        </div>
        <div class="contact-info">
            <div class="col colleft">abocadosrestaurante2024@gmail.com</div>
            <div class="col colcenter">(+57) 313 4479567</div>
            <div class="col colright">Cucasia, Antioquia</div>
        </div>
        <div class="footer-links">
            <a href="#">Aviso Legal</a>
            <a href="#">Política de Privacidad</a>
            <a href="#">Términos de Uso</a>
        </div>
        <div class="copyright">
            <p>&copy; 2024 Abocados. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>
