<div class="container">
    <div class="text-section">
      <h1 class="title">Las mejores hamburguesas las encuentras en <strong class="title2">ABOCADOS</strong> 
      </h1>
      <p class="paragraph">
        En Abocados, nos enorgullece ofrecerte las mejores hamburguesas que puedas imaginar. Cada una de nuestras creaciones está elaborada con ingredientes frescos y de la más alta calidad, combinando sabores únicos que te sorprenderán desde el primer bocado.

      </p>
      <button routerLink="/nosotros" class="action-button"> Haz clic aquí para saber más</button>
    </div>

    <div class="image-section">
      <img src="assets/img/hamburguesa.png" alt="Imagen de ejemplo" />
    </div>

  </div>
  