<div class="all">

  
    <div class="location-container">
      
  
      <div class="content">
        <div class="map-container">
          <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.887462737174!2d-75.196694!3d7.997083!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6c1fa79f7a3f87%3A0x9b4a569c1de1f8f!2sCra.+20+%2322-4,+Caucasia,+Antioquia!5e0!3m2!1ses-419!2sco!4v1630588026025!5m2!1ses-419!2sco" 
            width="100%" 
            height="100%" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy">
          </iframe>
        </div>
  
        <div class="info-container">
          <div class="contact-info">
            <p><strong class="bold-title">Horario de Atención:</strong> <br>Lunes a Viernes, 4:00 pm - 11:30 pm</p>
            <p><strong class="bold-title">Dirección:</strong> <br>Carrera 20#22-4, Ciudad: Caucasia-Antioquia</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  