<div id="section-services"  class="services-container">
    <div class="service service-background-1">
      <div class="service-content left-align">
        <h2>Nuestro Proceso</h2>
        <p>Todo comienza con la selección de los mejores ingredientes. Trabajamos estrechamente con proveedores locales para obtener carnes frescas y panes artesanales que destacan por su sabor y calidad. Nuestras hamburguesas son preparadas a la parrilla en el momento, garantizando un sabor auténtico y una textura perfecta. Cada ingrediente es cuidadosamente preparado y ensamblado, para que disfrutes de un equilibrio ideal de sabores en cada bocado.</p>
        <button class="action-button" routerLink="/inicio">Ver menú</button>
      </div>
      <img src="assets/img/1.png" alt="Imagen 1 del servicio">
    </div>
  
    <div class="service service-background-2">
      <img src="assets/img/2.png" alt="Imagen 2 del servicio">
      <div class="service-content righ">
        <h2>Variedad para Todos</h2>
        <p>Sabemos que cada persona tiene sus preferencias, por eso en Urben Food ofrecemos una amplia variedad de hamburguesas para todos los gustos. Desde las clásicas con queso y tocino hasta opciones gourmet con ingredientes especiales como aguacate, cebolla caramelizada y quesos artesanales. También contamos con opciones vegetarianas que no sacrifican sabor, hechas con ingredientes frescos y deliciosos.</p>
        <button class="action-button" routerLink="/inicio">Ver menú</button>
      </div>
    </div>
  
    <div class="service service-background-3">
      <div class="service-content left-align">
        <h2>Ambiente y Servicio</h2>
        <p>Además de nuestras hamburguesas excepcionales, nos esforzamos por crear un ambiente acogedor y moderno, donde te sientas como en casa. Nuestro equipo está dedicado a brindarte un servicio amable y eficiente, porque creemos que cada visita a Urben Food debe ser una experiencia agradable, tanto en sabor como en atención.

        </p>
        <button class="action-button" routerLink="/inicio">Ver menú</button>
      </div>
      <img src="assets/img/3.png" alt="Imagen 3 del servicio">
    </div>
  </div>
  