<div class="container">
    <div class="text-section">
      <h1 class="title">Nuestras Hamburguesas</h1>
        <strong class="title2">ABOCADOS</strong> 
      
      <p class="paragraph">
        En Abocados, nos enorgullece ofrecerte las mejores hamburguesas que puedas imaginar. Cada una de nuestras creaciones está elaborada con ingredientes frescos y de la más alta calidad, combinando sabores únicos que te sorprenderán desde el primer bocado. Seleccionamos cuidadosamente cada ingrediente, desde las carnes más jugosas hasta los vegetales más crujientes, asegurándonos de que cada hamburguesa sea una obra maestra. 


      </p>
    </div>
    <div class="image-section">
      <img src="assets/img/FONDO.png" alt="Imagen de ejemplo" />
    </div>
  </div>
  